In [1]:
import pyspark
import glob
import pandas as pd



if 'sc' not in locals():
    from pyspark.context import SparkContext
    from pyspark.sql.context import SQLContext
    from pyspark.sql.session import SparkSession
    
    sc = SparkContext()
    sqlContext = SQLContext(sc)
    spark = SparkSession(sc)

spark

22/01/05 14:29:22 WARN Utils: Your hostname, tai-XPS-13-9350 resolves to a loopback address: 127.0.1.1; using 172.17.0.1 instead (on interface docker0)
22/01/05 14:29:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/tai/Desktop/Projects/springboard_final/app/env/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/05 14:29:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/home/tai/Desktop/Projects/springboard_final/app/env/lib/python3.8/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
print(glob.glob("data/NBA*"))

In [ ]:
mypath = './data'
files =  glob.glob("data/NBA*")


for file in files:
    df = pd.read_csv(file)
    if "Unnamed: 40" in df.columns:
        df = df.drop(["Unnamed: 40"], axis=1)

In [ ]:
from pyspark.sql.types import *

# Auxiliar functions
def equivalent_type(f):
    if f == 'datetime64[ns]': return TimestampType()
    elif f == 'int64': return LongType()
    elif f == 'int32': return IntegerType()
    elif f == 'float64': return FloatType()
    else: return StringType()

def define_structure(string, format_type):
    try: typo = equivalent_type(format_type)
    except: typo = StringType()
    return StructField(string, typo)

# Given pandas dataframe, it will return a spark's dataframe.
def pandas_to_spark(pandas_df):
    columns = list(pandas_df.columns)
    types = list(pandas_df.dtypes)
    struct_list = []
    for column, typo in zip(columns, types): 
      struct_list.append(define_structure(column, typo))
    p_schema = StructType(struct_list)
    return sqlContext.createDataFrame(pandas_df, p_schema)

In [ ]:
mypath = './data'
files =  glob.glob("data/NBA*")

spark_table_games = "games"
for file in files:
    df = pd.read_csv(file)
    if "Unnamed: 40" in df.columns:
        df = df.drop(["Unnamed: 40"], axis=1)
    sparkDF=spark.createDataFrame(df) 
    sparkDF.write.format("parquet").saveAsTable(spark_table_games, mode='append')

In [ ]:
type(df)

In [ ]:
spark.sql(f"drop table games")

In [ ]:
type(spark_df)

In [2]:
csv_files = glob.glob("data/NBA*")

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df_games = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(csv_files))

In [6]:
df_games.printSchema()

root
 |-- URL: string (nullable = true)
 |-- GameType: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- WinningTeam: string (nullable = true)
 |-- Quarter: string (nullable = true)
 |-- SecLeft: string (nullable = true)
 |-- AwayTeam: string (nullable = true)
 |-- AwayPlay: string (nullable = true)
 |-- AwayScore: string (nullable = true)
 |-- HomeTeam: string (nullable = true)
 |-- HomePlay: string (nullable = true)
 |-- HomeScore: string (nullable = true)
 |-- Shooter: string (nullable = true)
 |-- ShotType: string (nullable = true)
 |-- ShotOutcome: string (nullable = true)
 |-- ShotDist: string (nullable = true)
 |-- Assister: string (nullable = true)
 |-- Blocker: string (nullable = true)
 |-- FoulType: string (nullable = true)
 |-- Fouler: string (nullable = true)
 |-- Fouled: string (nullable = true)
 |-- Rebounder: string (nullable = true)
 |-- ReboundType: string (nullable = true)
 |-- ViolationPlayer: string (nullable = true)
 |-- ViolationType: string (nullable = true)
 |-- TimeoutTeam: string (nullable = true)
 |-- FreeThrowShooter: string (nullable = true)
 |-- FreeThrowOutcome: string (nullable = true)
 |-- FreeThrowNum: string (nullable = true)
 |-- EnterGame: string (nullable = true)
 |-- LeaveGame: string (nullable = true)
 |-- TurnoverPlayer: string (nullable = true)
 |-- TurnoverType: string (nullable = true)
 |-- TurnoverCause: string (nullable = true)
 |-- TurnoverCauser: string (nullable = true)
 |-- JumpballAwayPlayer: string (nullable = true)
 |-- JumpballHomePlayer: string (nullable = true)
 |-- JumpballPoss: string (nullable = true)

In [3]:
# create table
spark_table_games = "games"
df_games.write.format("parquet").saveAsTable(spark_table_games)

22/01/05 14:30:25 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
22/01/05 14:30:37 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 41, schema size: 40
CSV file: file:///home/tai/Desktop/Projects/springboard_final/app/data/NBA_PBP_2019-20.csv

In [11]:
spark.sql("SELECT count(*) from games").collect()

[Row(count(1)=3040524)]

22/01/05 15:09:48 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 262387 ms exceeds timeout 120000 ms
22/01/05 15:09:48 WARN SparkContext: Killing executors is not supported by current scheduler.

In [ ]:
###################################
# Using database below

In [1]:
from databaseClass import DB
import utils
import sql_files

In [2]:
userName = utils.userName
userPass = utils.userPass
dbName = utils.dbName

In [3]:
db = DB(userName = userName, userPass = userPass, dataBaseName = dbName)

In [33]:
fd = open('sql_files/shot_performance.sql', 'r')
sqlFile = fd.read()
fd.close()

In [14]:
with open('sql_files/shot_performance.sql', 'r') as file: # Use file to refer to the file object
    sql = file.read()

In [37]:
sql_file = open('sql_files/shot_performance.sql')
sql_as_string = sql_file.read()

In [12]:
sql = """
select
url,
gametype,
date,
shooter,
sum(case when shottype like '%%2-pt%%' and shotoutcome='make' then 1 else 0 end) as two_point_shots_made,
count(*) as total_shots
from public.pbp
group by 1,2,3,4
limit 10
"""

In [44]:
sql = '''

select * from public.pbp limit 10
'''

In [ ]:
sum(case when shottype like '%%2-pt%%' and shotoutcome='make' then 1 else 0 end) as two_point_shots_made,

In [13]:
db.DBtoDF(sql)

,url,gametype,date,shooter,two_point_shots_made,total_shots
0,/boxscores/201510270ATL.html,regular,October 27 2015,A. Baynes - baynear01,3,5
1,/boxscores/201510270ATL.html,regular,October 27 2015,A. Drummond - drumman01,6,16
2,/boxscores/201510270ATL.html,regular,October 27 2015,A. Horford - horfoal01,5,11
3,/boxscores/201510270ATL.html,regular,October 27 2015,D. Schröder - schrode01,6,14
4,/boxscores/201510270ATL.html,regular,October 27 2015,E. İlyasova - ilyaser01,3,12
5,/boxscores/201510270ATL.html,regular,October 27 2015,J. Meeks - meeksjo01,1,4
6,/boxscores/201510270ATL.html,regular,October 27 2015,J. Teague - teaguje01,6,16
7,/boxscores/201510270ATL.html,regular,October 27 2015,K. Bazemore - bazemke01,0,3
8,/boxscores/201510270ATL.html,regular,October 27 2015,K. Caldwell-Pope - caldwke01,3,14
9,/boxscores/201510270ATL.html,regular,October 27 2015,K. Korver - korveky01,2,9